@import url("../../index.css");

@layer components {
  .header-content {
    min-height: 60vh;
    background: linear-gradient(
        rgba(141, 39, 174, 0.8),
        rgba(141, 39, 174, 0.95)
      ),
      url("../../assets/images/header.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
